@import "tailwindcss";

body {
      font-family: 'Segoe UI', sans-serif;
    }

    .btn-custom {
      background-color: #C78117;
      color: white;
      border-radius: 8px;
    }
    .btn-custom:hover {
      background-color: #ff9a02;
      box-shadow: 0 0 10px rgba(255, 154, 2, 0.7);
    }

    .quote-box {
      background-color: #c97725;
      color: white;
      padding: 2rem;
      border-radius: 8px;
      max-width: 600px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      transform: rotate(-5deg);
      margin-top: 4rem;
    }
    .quote-box:hover {
      transform: scale(1.05) rotate(-2deg);
      transition: all 0.3s ease-in-out;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    }

    .quote-author {
      font-size: 0.9rem;
      opacity: 0.9;
      font-weight: 500;
      margin-top: 1rem;
    }

    .quote-text {
      font-size: 1.2rem;
      font-style: italic;
    }

    .navbar-brand img {
      height: 60px;
    }

    footer {
      background-color: #f8f9fa;
      padding: 2rem 0;
    }

    footer .nav-link:hover {
      text-decoration: underline;
    }

    .footer-bottom {
      font-size: 0.9rem;
      color: #6c757d;
    }

    .navbar-nav .nav-link:hover {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 0.375rem;
      transition: all 0.3s ease;
    }
body {
      background-color: #f8f9fa;
    }
    .card-custom {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      border: none;
      border-radius: 1rem;
    }
    .card-custom:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }
    .icon {
      font-size: 2rem;
      margin-bottom: 10px;
    }
     .navbar-brand img {
      height: 60px;
    }

    footer {
      background-color: #f8f9fa;
      padding: 2rem 0;
    }

    footer .nav-link:hover {
      text-decoration: underline;
    }

    .footer-bottom {
      font-size: 0.9rem;
      color: #6c757d;
    }
  
  .navbar-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
    transition: all 0.3s ease;
  }
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 6px;
}
